.App-logo {
    transition: left 2s;
    -webkit-transition: left 2s;
    background-color: green;
    position: relative;
}

h4 {
    text-decoration: none;

}
a:visited, a {
    color: limegreen;
    text-decoration: none;
}
div {
    transition: top 1s;
}
html {
    background-color: black;
    overflow: hidden;
}
body {
    width:100%;
    background-color: #222222;
    color: #aaa;
    overflow: hidden;

}

#root{
    background-color: pink;
    width: 100%;
    overflow: hidden;

}

.App {
    width: 100%;
    background-color: purple;
    overflow: hidden;

}

.Overall {
    width: 80%;
    background-color: navy;
    overflow: hidden;
}

.portfolio-card {
    display: flex;
    position: absolute;
    transition: margin-left 2s, color 2s;
    transition: left 2s, color 2s;
    transform: translate(-50%, 0);
    text-decoration: none;

}

.carousel-container {
    font-family: 'press start 2p', system, monospace;
    width: 800px;
    height: 70px;
    padding: 10%;
    overflow: hidden;
    background-color: #222;
    position: absolute;
}

#right-arrow{
    position: absolute;
    right: 0;
    font-size: 5em;
    font-family: 'londrina solid';
    z-index: 5;

}

#left-arrow{
    position: absolute;
    left: 0;
    font-size: 5em;
    font-family: 'londrina solid';
    z-index: 5;
}

.front-row-item{

    position: absolute;
    top: 10%;
    z-index: 4;
    pointer-events:auto;
    height: 75%;
    width: 30vw;
    border: 0.4em dashed limegreen;
    background-color: rgba(20, 50, 20, 0.5);
    text-decoration: none;
    font-size: 1em;
}

.back-row-item{
    position: absolute;
    bottom: 20%;
    z-index: 3;
    /* pointer-events: none; */
    height: 20vh;
    width: 15vw;
    opacity: 0.2;
    transform: rotateY(180deg) translate(-50%, 0);
    border: 0.3em dashed limegreen;
    background-color: rgba(20, 50, 20, 0.5);
    font-size: .3em;
}

.front-row-item .portfolio-pic {
    height: 60%;
    border: 0.3em limegreen dashed;
}

.back-row-item .portfolio-pic {
    height: 60%;
    border: 0.2em limegreen dashed;
}